In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# Загрузка данных

In [23]:
%%capture
!wget https://www.dropbox.com/s/64ol9q9ssggz6f1/data_ford_price.xlsx

In [24]:
data = pd.read_excel('data_ford_price.xlsx')

In [25]:
data.head()

,price,year,condition,cylinders,odometer,title_status,transmission,drive,size,lat,long,weather
0,43900,2016,4,6,43500,clean,automatic,4wd,full-size,36.471500,-82.483400,59.0
1,15490,2009,2,8,98131,clean,automatic,4wd,full-size,40.468826,-74.281734,52.0
2,2495,2002,2,8,201803,clean,automatic,4wd,full-size,42.477134,-82.949564,45.0
3,1300,2000,1,8,170305,rebuilt,automatic,4wd,full-size,40.764373,-82.349503,49.0
4,13865,2010,3,8,166062,clean,automatic,4wd,NaN,49.210949,-123.114720,NaN

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7017 entries, 0 to 7016
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         7017 non-null   int64
 1   year          7017 non-null   int64
 2   condition     7017 non-null   int64
 3   cylinders     7017 non-null   int64
 4   odometer      7017 non-null   int64
 5   title_status  7017 non-null   object
 6   transmission  7017 non-null   object
 7   drive         6626 non-null   object
 8   size          5453 non-null   object
 9   lat           7017 non-null   float64
 10  long          7017 non-null   float64
 11  weather       6837 non-null   float64
dtypes: float64(3), int64(5), object(4)
memory usage: 658.0+ KB

In [26]:
y = data['price']
X = data.drop(columns='price')

# Предобработка

In [5]:
lr = LinearRegression()
lr.fit(X,y)

ValueError: could not convert string to float: 'clean'

_______________________
Сторонний пример

In [11]:
from sklearn.preprocessing  import LabelBinarizer
 
lb = LabelBinarizer()
 
education = ['нет', 'начальное', 'среднее', 'BSc', 'MSc', 'начальное', 'PhD']
lb.fit(education)
 
print('категории:', lb.classes_) 
lb.transform(['нет', 'MSc'])

категории: ['BSc' 'MSc' 'PhD' 'начальное' 'нет' 'среднее']

array([[0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0]])

___________________________________

In [28]:
columns_to_change = ['cylinders', 'title_status', 'transmission', 'drive', 'size']
 
for column in columns_to_change:
 print('Число уникальных значений призкака {}: '.format(column), data[column].nunique())

Число уникальных значений призкака cylinders:  6
Число уникальных значений призкака title_status:  5
Число уникальных значений призкака transmission:  3
Число уникальных значений призкака drive:  3
Число уникальных значений призкака size:  4

In [29]:
from sklearn.preprocessing import OneHotEncoder
 
one_hot_encoder = OneHotEncoder()
 
# 'учим' и сразу применяем преобразование к выборке, результат переводим в массив
data_onehot = one_hot_encoder.fit_transform(data[columns_to_change]).toarray() 
# запишем полученные названия новых колонок в отдельную переменную
column_names = one_hot_encoder.get_feature_names_out(columns_to_change)
print(column_names)

['cylinders_3' 'cylinders_4' 'cylinders_5' 'cylinders_6' 'cylinders_8'
 'cylinders_10' 'title_status_clean' 'title_status_lien'
 'title_status_missing' 'title_status_rebuilt' 'title_status_salvage'
 'transmission_automatic' 'transmission_manual' 'transmission_other'
 'drive_4wd' 'drive_fwd' 'drive_rwd' 'drive_nan' 'size_compact'
 'size_full-size' 'size_mid-size' 'size_sub-compact' 'size_nan']

### Задание 3.7
1 point possible (graded)
Какая форма (количество строк и столбцов) будет у нашего датасета о стоимости автомобилей после кодировки номинальных признаков однократным методом?

Для ответа на поставленный вопрос выполните следующие шаги:

1. Загрузите данные в локальную директорию с помощью команды !wget https://www.dropbox.com/s/64ol9q9ssggz6f1/data_ford_price.xlsx.
2. Загрузите данные в память ноутбука с помощью функции read_excel() библиотеки pandas.
3. Закодируйте столбцы из списка columns_to_change.

4. Преобразуйте полученный массив закодированных данных в формат DataFrame, явно указав имена колонок.

In [30]:
data_onehot = pd.DataFrame(data_onehot, index=data.index, columns=column_names)

In [31]:
data_onehot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7017 entries, 0 to 7016
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   cylinders_3             7017 non-null   float64
 1   cylinders_4             7017 non-null   float64
 2   cylinders_5             7017 non-null   float64
 3   cylinders_6             7017 non-null   float64
 4   cylinders_8             7017 non-null   float64
 5   cylinders_10            7017 non-null   float64
 6   title_status_clean      7017 non-null   float64
 7   title_status_lien       7017 non-null   float64
 8   title_status_missing    7017 non-null   float64
 9   title_status_rebuilt    7017 non-null   float64
 10  title_status_salvage    7017 non-null   float64
 11  transmission_automatic  7017 non-null   float64
 12  transmission_manual     7017 non-null   float64
 13  transmission_other      7017 non-null   float64
 14  drive_4wd               7017 non-null   float64
 15  drive_fwd               7017 non-null   float64
 16  drive_rwd               7017 non-null   float64
 17  drive_nan               7017 non-null   float64
 18  size_compact            7017 non-null   float64
 19  size_full-size          7017 non-null   float64
 20  size_mid-size           7017 non-null   float64
 21  size_sub-compact        7017 non-null   float64
 22  size_nan                7017 non-null   float64
dtypes: float64(23)
memory usage: 1.2 MB

5. Соедините новую таблицу с исходной.

In [32]:
# Объединяем датафреймы по горизонтали (добавляем столбцы)
data_new = pd.concat([data, data_onehot], axis=1)

print("\nПервые несколько строк:")
print(data_new.head())

Первые несколько строк:
   price  year  condition  cylinders  odometer title_status transmission  \
0  43900  2016          4          6     43500        clean    automatic
1  15490  2009          2          8     98131        clean    automatic
2   2495  2002          2          8    201803        clean    automatic
3   1300  2000          1          8    170305      rebuilt    automatic
4  13865  2010          3          8    166062        clean    automatic

  drive       size        lat  ...  transmission_other  drive_4wd  drive_fwd  \
0   4wd  full-size  36.471500  ...                 0.0        1.0        0.0
1   4wd  full-size  40.468826  ...                 0.0        1.0        0.0
2   4wd  full-size  42.477134  ...                 0.0        1.0        0.0
3   4wd  full-size  40.764373  ...                 0.0        1.0        0.0
4   4wd        NaN  49.210949  ...                 0.0        1.0        0.0

   drive_rwd  drive_nan  size_compact  size_full-size  size_mid-size  \
0        0.0        0.0           0.0             1.0            0.0
1        0.0        0.0           0.0             1.0            0.0
2        0.0        0.0           0.0             1.0            0.0
3        0.0        0.0           0.0             1.0            0.0
4        0.0        0.0           0.0             0.0            0.0

   size_sub-compact  size_nan
0               0.0       0.0
1               0.0       0.0
2               0.0       0.0
3               0.0       0.0
4               0.0       1.0

[5 rows x 35 columns]

6. Удалите закодированные столбцы columns_to_change из полученной таблицы.

In [33]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7017 entries, 0 to 7016
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   price                   7017 non-null   int64
 1   year                    7017 non-null   int64
 2   condition               7017 non-null   int64
 3   cylinders               7017 non-null   int64
 4   odometer                7017 non-null   int64
 5   title_status            7017 non-null   object
 6   transmission            7017 non-null   object
 7   drive                   6626 non-null   object
 8   size                    5453 non-null   object
 9   lat                     7017 non-null   float64
 10  long                    7017 non-null   float64
 11  weather                 6837 non-null   float64
 12  cylinders_3             7017 non-null   float64
 13  cylinders_4             7017 non-null   float64
 14  cylinders_5             7017 non-null   float64
 15  cylinders_6             7017 non-null   float64
 16  cylinders_8             7017 non-null   float64
 17  cylinders_10            7017 non-null   float64
 18  title_status_clean      7017 non-null   float64
 19  title_status_lien       7017 non-null   float64
 20  title_status_missing    7017 non-null   float64
 21  title_status_rebuilt    7017 non-null   float64
 22  title_status_salvage    7017 non-null   float64
 23  transmission_automatic  7017 non-null   float64
 24  transmission_manual     7017 non-null   float64
 25  transmission_other      7017 non-null   float64
 26  drive_4wd               7017 non-null   float64
 27  drive_fwd               7017 non-null   float64
 28  drive_rwd               7017 non-null   float64
 29  drive_nan               7017 non-null   float64
 30  size_compact            7017 non-null   float64
 31  size_full-size          7017 non-null   float64
 32  size_mid-size           7017 non-null   float64
 33  size_sub-compact        7017 non-null   float64
 34  size_nan                7017 non-null   float64
dtypes: float64(26), int64(5), object(4)
memory usage: 1.9+ MB

In [21]:
# Удаляем только столбцы, точно совпадающие с именами из списка
data_new = data_new.drop(columns=columns_to_change, errors='ignore')

# Параметр errors='ignore' позволяет пропускать столбцы, которых нет в датафрейме
# без возникновения ошибки

# Проверяем результат
print("Удаленные столбцы:", columns_to_change)
print("\nРазмерность после удаления:", data_new.shape)
print("\nОставшиеся столбцы:")
print(data_new.columns.tolist())

Удаленные столбцы: ['cylinders', 'title_status', 'transmission', 'drive', 'size']

Размерность после удаления: (7017, 30)

Оставшиеся столбцы:
['price', 'year', 'condition', 'odometer', 'lat', 'long', 'weather', 'cylinders_3', 'cylinders_4', 'cylinders_5', 'cylinders_6', 'cylinders_8', 'cylinders_10', 'title_status_clean', 'title_status_lien', 'title_status_missing', 'title_status_rebuilt', 'title_status_salvage', 'transmission_automatic', 'transmission_manual', 'transmission_other', 'drive_4wd', 'drive_fwd', 'drive_rwd', 'drive_nan', 'size_compact', 'size_full-size', 'size_mid-size', 'size_sub-compact', 'size_nan']

7. Выведите на экран форму полученной таблицы.

Ответ
(7017,30) - нужно без пробела!!!

In [22]:
print("\nРазмерность после удаления:", data_new.shape)

Размерность после удаления: (7017, 30)