In [ ]:
def first_function():
    print("Hello world!")
first_function()
first_function()

Hello world!
Hello world!

Напишите функцию get_total(units, price), которая принимает на вход число единиц товара и стоимость каждой единицы. Функция возвращает одно число — общую стоимость данного числа товаров.

Пример: print(get_total(15, 50))

In [ ]:
def get_total(units, price):
  summ = units*price
  return summ
print(get_total(15, 50))

750

Попробуйте добавить в функцию get_time проверку скорости на равенство нулю. Если скорость равна нулю, верните ValueError с сообщением "Speed cannot be equal to 0!".

In [ ]:
def get_time(distance, speed):
    if distance < 0 or speed < 0:
        raise ValueError ("Distance or speed cannot be below 0!")
    if speed == 0:
        raise ValueError ("Speed cannot be equal to 0!")
    result = distance / speed
    return result
get_time(100, 0)

In [ ]:
# В функцию должны передаваться 2 значения:
# число и степень корня
def root(value, n=2):
    # Как мы уже выяснили, чтобы посчитать
    # корень степени n из числа, можно возвести это число
    # в степень 1/n
    result = value ** (1/n)
    return result

# Посчитаем корень 3-ей степени (кубический корень) из 27
print(root(27, 3))
print(root(64))

3.0
8.0

In [ ]:
def add_mark(name, mark, journal=None):
   # Добавьте здесь проверку аргумента mark
   if journal is None:
       journal = {}
   if mark not in [2,3,4,5]:
    raise ValueError ("Invalid Mark!")

   journal[name] = mark
   return journal
add_mark('Ivanov', 6)

ValueError: Invalid Mark!

In [ ]:
#Напишите функцию mult, которая считает произведение переданных в неё чисел через запятую.

def mult(*args):
    # произведение переданных в неё чисел
    result = 1
    for num in args:
      result *= num
    return result
print(mult(3, 4, 5, 6))
print(mult(3,5,10))

360
150

In [ ]:
langs = ['Python', 'SQL', 'Machine Learning', 'Statistics']
print(langs)
# Будет напечатано:
# ['Python', 'SQL', 'Machine Learning', 'Statistics']
print(*langs)
print(*langs, sep = ', ')

['Python', 'SQL', 'Machine Learning', 'Statistics']
Python SQL Machine Learning Statistics
Python, SQL, Machine Learning, Statistics

In [3]:
marks = [4,5,5,5,5,3,4,4,5,4,5]
def mean_mark(name, *marks):
    result = sum(*marks) / len(*marks)
    # Не возвращаем результат, а печатаем его
    print(*marks)
    print(marks)
    print(name+':', result)
mean_mark('Kuznetsov', marks)

[4, 5, 5, 5, 5, 3, 4, 4, 5, 4, 5]
([4, 5, 5, 5, 5, 3, 4, 4, 5, 4, 5],)
Kuznetsov: 4.454545454545454

In [9]:
# В переменную kwargs будут записаны все
# именованные аргументы
def schedule(**kwargs):
    # kwargs — это словарь, проверим это с помощью isinstance:
    print(isinstance(kwargs, dict))
    # Напечатаем объект kwargs
    print(kwargs)
 
schedule(monday='Python', tuesday='SQL', friday='ML')
# monday='Python'
# tuesday='SQL'
# friday='ML'

# schedule_dict = {monday: 'Python', tuesday:'SQL', friday:'ML'}

# schedule(schedule_dict)
# schedule(monday='Python', tuesday='SQL', friday='ML')

True
{'monday': 'Python', 'tuesday': 'SQL', 'friday': 'ML'}
True
{'monday': 'Python', 'tuesday': 'SQL', 'friday': 'ML'}

In [ ]:
names = ['Ivan', 'Kim', 'German', 'Margarita', 'Simon', 'Stephany']

#def names_len(name):
#  names_len = len(name)
#  return names_len


#print(names_len(names))

name_key=lambda name: len(name)

print(name_key(names))

for i in names:
  print(name_key(i))


names.sort(key=lambda name: len(name))
print(names)

# Будет напечатано:
# ['Kim', 'Ivan', 'Simon', 'German', 'Margarita']

6
4
3
6
9
5
8
['Kim', 'Ivan', 'Simon', 'German', 'Stephany', 'Margarita']

In [ ]:
def get_length(*arg):
    get_length = []
    print(arg)
    for i in arg:
      get_length.append(len(i))
    get_length.sort
    return get_length


new_list = ['bbb', 'ababa','aaa', 'aaaaa',  'cc']
new_list.sort(key=get_length)
print(new_list)
# Должно быть напечатано:
# ['cc', 'bbb', 'aaa', 'ababa', 'aaaaa']

('bbb',)
('ababa',)
('aaa',)
('aaaaa',)
('cc',)
['cc', 'bbb', 'aaa', 'ababa', 'aaaaa']

In [ ]:
new_list = ['bbb', 'ababa','aaa', 'aaaaa',  'cc']

new_list.sort(key=lambda word: (len(word), word))
print(new_list)
# Будет напечатано:
# ['cc', 'aaa', 'bbb', 'aaaaa', 'ababa']

['cc', 'aaa', 'bbb', 'aaaaa', 'ababa']

Задание 6.3 (External resource)
Напишите lambda-функцию для расчёта гипотенузы прямоугольного треугольника: она принимает на вход длины двух катетов и возвращает длину гипотенузы (третьей, самой длинной стороны прямоугольного треугольника).

Формула: c = (a**2 + b**2) ** (1/2), где a и b — длины катетов, — длина гипотенузы. Сохраните эту функцию в переменную hyp.

In [ ]:
hyp = lambda a, b :  (a**2 + b**2) ** (1/2)

print(hyp(3,4))
print(hyp(1,9))

5.0
9.055385138137417

Задание 6.4 (External resource)
Инструкция по использованию платформы

Напишите функцию sort_sides(l_in), которая сортирует переданный в неё список l_in.

Входной список состоит из кортежей с парами чисел — длинами катетов прямоугольных треугольников.

Функция должна возвращать список, отсортированный по возрастанию длин гипотенуз треугольников.

Примечание. Вам пригодится lambda-функция из предыдущего задания. При этом вам потребуется заменить lambda от двух аргументов на lambda от одного аргумента и обращаться к элементам кортежа уже при вычислении гипотенузы.

In [ ]:
#hyp_tuple = lambda catety :  (catety[0]**2 + catety[1]**2) ** (1/2)
#print(hyp(3,4))

def sort_sides(l_in):
  l_in.sort(key=lambda catety :  (catety[0]**2 + catety[1]**2) ** (1/2))
  return l_in

print(sort_sides([(3,4), (1,2), (10,10)]))
# [(1, 2), (3, 4), (10, 10)]

5.0
[(1, 2), (3, 4), (10, 10)]

Задание 7.9 (External resource)
Напишите функцию get_less(list_in, num), которая принимает на вход список list_in, состоящий из чисел, и ещё одно число num.

Функция должна вернуть первое найденное число из списка, которое меньше переданного во втором аргументе. Если такого числа нет, необходимо вернуть None.

In [ ]:
def get_less(list_in, num):
  get_less = None
  for list_num in list_in:
    if list_num < num:
      get_less = list_num
      return get_less
  return get_less

print(get_less([1, 5, 8,  10], 8))
# 1

print(get_less([1, 5, 8,  10], 0))
# None

1
None

Задание 7.10 (External resource)
Напишите функцию split_date(date), которая принимает на вход строку, задающую дату, в формате ддммгггг без разделителей. Функция должна вернуть кортеж из чисел (int): день, месяц, год.

Примечание. Здесь вам пригодятся срезы строк.

In [ ]:
def split_date(date):
  split_date = (int(date[0:2]), int(date[2:4]), int(date[4:]))
  return split_date


print(split_date("31012019"))
# (31, 1, 2019)

(31, 1, 2019)

Задание 7.11 (External resource)

Напишите функцию is_prime(num), которая проверяет, является ли число простым.

Функция должна вернуть True, если число простое, иначе — False.

Примечание. Простым называют число, которое делится только на 1 или на само себя. Число 1 простым не является.



https://ru.stackoverflow.com/questions/1040160/Как-проверить-простое-ли-число-python-3



Оптимизированный алгоритм поиска простых неотрицательных чисел:

проверить на 0 и 1
проверить на чётность и равенство 2 (исключается ~50% чисел)
проверить на кратность 3 и равенство 3 (исключается ещё ~33% чисел)
для проверки оставшихся чисел воспользоваться формулой 6n ± 1 (при n = 1, простыми будут 5 и 7, при n = 2: 11 и 13, и т.д.)
как отмечено раньше, проверять делители следует до корня из заданного числа

In [ ]:
def is_prime(num):
    prime = num > 1 and (num % 2 != 0 or num == 2) and (num % 3 != 0 or num == 3)
    i = 5;
    d = 2;

    while prime and i * i <= num:
        prime = num % i != 0
        i += d
        d = 6 - d # чередование прироста 2 и 4: 5 + 2, 7 + 4, 11 + 2, и т.д.
    return prime


print(is_prime(1))
print(is_prime(10))
print(is_prime(13))
# False
# False
# True

False
False
True

Задание 7.12 (External resource)

Напишите функцию between_min_max(...), которая принимает на вход числа через запятую.

Функция возвращает среднее арифметическое между максимальным и минимальным значением этих чисел, то есть (max + min)/2.

In [ ]:
def between_min_max(*arg):
  between_min_max = (max(arg)+min(arg))/2
  return between_min_max

print(between_min_max(10))
print(between_min_max(1,2,3,4,5))
# 10.0
# 3.0

10.0
3.0

Задание 7.13 (External resource)

Напишите функцию best_student(...), которая принимает на вход в виде именованных аргументов имена студентов и их номера в рейтинге (нагляднее в примере).

Необходимо вернуть имя студента с минимальным номером по рейтингу.

In [ ]:
def best_student(**kwarg):
  pass
  temp = min(kwarg.values())
  best_student = None
  for key, value in kwarg.items():
    if(value == temp):
        best_student = key # здесь выбирается только один студент с минимальным номером по рейтингу, предполагается, что номер рейтинга уникальный. Иначе нужно добавлять найденные данные в новый словарь.
  return best_student


print(best_student(Tom=12, Mike=3))
print(best_student(Tom=12))
print(best_student(Tom=12, Jerry=1, Jane=2))
# Mike
# Tom
# Jerry

Mike
Tom
Jerry

Задание 7.14 (External resource)

Напишите lambda-функцию is_palindrom(str), которая принимает на вход одну строку str (имя параметра - x) и проверяет, является ли она палиндромом, то есть читается ли она слева-направо и справа-налево одинаково.

Функция возвращает yes, если строка является палиндромом, иначе — no.

Примечание. Не пытайтесь схитрить — в тест включена проверка на то, что функция действительно является lambda.

In [ ]:
#is_palindrom(str)
is_palindrom = lambda x: 'yes' if x == x[::-1] else 'no'

print(is_palindrom('1234'))
print(is_palindrom('12321'))
# no
# yes

no
yes

Задание 7.15 (External resource)
Напишите lambda-функцию area(a,b), которая принимает на вход два числа — стороны прямоугольника — через запятую и возвращает площадь прямоугольника.

In [ ]:
area = lambda a,b: a*b
print(area(12,5))
# 60

60

Задание 7.16 (External resource)
Перепишите функцию between_min_max из задания 7.12 в lambda-функцию. Функция принимает на вход числа через запятую и возвращает одно число — среднее между максимумом и минимумом этих чисел.

In [ ]:
between_min_max = lambda *arg : (max(arg)+min(arg))/2

print(between_min_max(1,2,3,4,5))
# 3.0

print(between_min_max(1,2,3,4,5,6,7))
# 3.0

3.0
4.0

Задание 7.17 (External resource)
Напишите функцию sort_ignore_case(ls), которая принимает на вход список ls и сортирует его без учёта регистра по алфавиту.

Функция возвращает отсортированный список.

In [ ]:
def sort_ignore_case (ls):
  ls.sort(key=lambda word: word.lower())
  sort_ignore_case = ls
  return sort_ignore_case




print(sort_ignore_case(['Acc', 'abc']))
# ['abc', 'Acc']

['abc', 'Acc']

Задание 7.18 (External resource)

Напишите функцию exchange(usd, rub, rate), которая может принимать на вход сумму в долларах (usd), сумму в рублях (rub) и обменный курс (rate). Обменный курс показывает, сколько стоит один доллар. Например, курс 85.46 означает, что один доллар стоит 85 рублей и 46 копеек.

В функцию должно одновременно передавать два аргумента. Если передано менее двух аргументов, должна возникнуть ошибка ValueError('Not enough arguments'). Если же передано три аргумента, должна возникнуть ошибка: ValueError('Too many arguments').

Функция должна находить третий аргумент по двум переданным. Например, если переданы суммы в разных валютах, должен возвращаться обменный курс. Если известны сумма в рублях и курс, должна быть получена эквивалентная сумма в долларах, аналогично — если передана сумма в долларах и обменный курс.

In [ ]:
def exchange(usd= None, rub= None, rate= None):
  temp = 0
#  print(f'USD = {usd}, RUB = {rub}, Rate = {rate}')
  arg = [usd, rub, rate]
  if arg.count(None) >= 2 : raise ValueError('Not enough arguments')
  if arg.count(None) == 0 : raise ValueError('Too many arguments')
  if usd != None and rub != None:
      temp = rub/usd
  if usd != None and rate != None:
      temp = usd*rate
  if rate != None and rub != None:
      temp = rub/rate
  exchange = temp
  return exchange


print(exchange(usd=100, rub=8500))
# 85.0

print(exchange(usd=100, rate=85))
# 8500

print(exchange(rub=1000, rate=85))
# 11.764705882352942

print(exchange(rub=1000, rate=85, usd=90))
# ValueError: Too many arguments

print(exchange(rub=1000))
# ValueError: Not enough arguments

USD = 100, RUB = 8500, Rate = None
85.0
USD = 100, RUB = None, Rate = 85
8500
USD = None, RUB = 1000, Rate = 85
11.764705882352942
USD = 90, RUB = 1000, Rate = 85

ValueError: Too many arguments