# SQL-2. Агрегатные функции

##  1. Знакомимся с данными

✍ В этом модуле мы познакомимся с агрегатными функциями.

И помогут нам в этом... покемоны! Как? Да очень просто!

На протяжении всего модуля мы будем работать с таблицей [sql.pokemon](http://sql.skillfactory.ru:3000/question#eyJkYXRhc2V0X3F1ZXJ5Ijp7ImRhdGFiYXNlIjoyLCJxdWVyeSI6eyJzb3VyY2UtdGFibGUiOjM3fSwidHlwZSI6InF1ZXJ5In0sImRpc3BsYXkiOiJ0YWJsZSIsInZpc3VhbGl6YXRpb25fc2V0dGluZ3MiOnt9fQ==), содержащей данные о покемонах и их характеристиках из классических видеоигр.

Давайте познакомимся с нашими покемонами и данными о них!

Присмотримся к содержимому таблицы sql.pokemon: в ней хранится информация о покемонах.

Название поля	Содержимое

id	уникальный идентификатор

name	имя

type1	основной тип

type2	дополнительный тип

hp	количество очков здоровья

attack	показатели атаки

defense	показатели защиты

speed	показатели скорости

Выведите все поля из таблицы sql.pokemon и изучите её содержимое.

SELECT *
FROM sql.pokemon
LIMIT 5

Примечание. На этом скриншоте представлен лишь фрагмент таблицы: в действительности она значительно больше и содержит почти 800 строк.

## 2. Убираем повторяющиеся значения

Примечание. Как и в предыдущем модуле, вы можете посмотреть подробный разбор структуры предлагаемых запросов во вкладке Детализация.

Для начала получим все основные типы покемонов.

SELECT
    type1
FROM sql.pokemon

Видно, что типы повторяются, потому что в результате запроса вы получаете все строки, которые подходят под заданные условия.

Чтобы получить уникальные значения из столбца, воспользуемся ключевым словом DISTINCT.

SELECT DISTINCT
    type1
FROM sql.pokemon

Мы можем применять DISTINCT и для нескольких столбцов.
Получим, например, все уникальные пары основного и дополнительного типов для покемонов.

SELECT DISTINCT /*выбрать уникальные значения*/
    type1, /*столбец type1*/
    type2 /*столбец type2*/
FROM sql.pokemon /*из таблицы sql.pokemon*/

Обратите внимание! DISTINCT пишется только один раз, в начале списка получаемых столбцов.

## 3. Агрегатные функции

✍ Кроме простых математических операций, которые мы использовали в предыдущем модуле, СУБД позволяет проводить статистические вычисления для нескольких строк.

Давайте посчитаем количество строк в таблице. Для этого применим агрегатную функцию COUNT.

SELECT
    COUNT(*)
FROM sql.pokemon

COUNT считает строки, а звёздочка (*) в аргументе функции означает, что считаются все строки, которые возвращает запрос.

Если в аргументе функции указать название столбца, функция обработает только строки **с непустым значением.**

## Задание 3.1
1 point possible (graded)
Сколько покемонов имеет дополнительный тип?

SELECT 
    COUNT(type2) /*столбец type2*/
FROM sql.pokemon /*из таблицы sql.pokemon*/


Ответ:
414

Внутри функции COUNT мы можем также применять DISTINCT, чтобы вычислить количество уникальных значений.

SELECT /*выбор*/
    COUNT(DISTINCT type1) /*функция подсчёта строк; уникальные значения столбца type1*/
FROM sql.pokemon /*из таблицы sql.pokemon*/

18

## Задание 3.2
1 point possible (graded)
Совпадает ли количество различных основных и дополнительных типов?

SELECT /*выбор*/
    COUNT(DISTINCT type1), /*функция подсчёта строк; уникальные значения столбца type1*/
    COUNT(DISTINCT type2) /*функция подсчёта строк; уникальные значения столбца type2*/    
FROM sql.pokemon /*из таблицы sql.pokemon*/


18 = 18

Ответ: Совпадает

### Основные агрегатные функции

Назовём основные агрегатные функции, с которыми нам предстоит работать:

COUNT — вычисляет число непустых строк;

SUM — вычисляет сумму;

AVG — вычисляет среднее;

MAX — вычисляет максимум;

MIN — вычисляет минимум.

### Задание 3.3
1 point possible (graded)
Найдите максимальное значение атаки среди всех покемонов.

SELECT /*выбор*/
    MAX(attack)
FROM sql.pokemon /*из таблицы sql.pokemon*/

Ответ: 190

Разумеется, вы можете использовать в запросе фильтрацию строк с помощью WHERE, чтобы получить агрегированное значение только для отдельных строк.

### Задание 3.4
1 point possible (graded)
Какое среднее количество очков здоровья у покемонов-драконов (то есть тех, у кого основной тип — Dragon)?
Введите целое число, округлив в сторону уменьшения.

SELECT /*выбор*/
    AVG(hp)
FROM sql.pokemon /*из таблицы sql.pokemon*/
WHERE type1 = 'Dragon'

Ответ: 83.31 или 83

Кроме того, мы можем применять несколько агрегатных функций в одном запросе.

SELECT
    COUNT(*) AS "всего травяных покемонов",
    COUNT(type2) AS "покемонов с дополнительным типом",
    AVG(attack) AS "средняя атака",
    AVG(defense) AS "средняя защита"
FROM sql.pokemon
WHERE type1 = 'Grass'

SELECT /*выбор*/
    COUNT(*) AS "всего травяных покемонов", /*подсчёт всех строк; назначить алиас "всего травяных покемонов"*/
    COUNT(type2) AS "покемонов с дополнительным типом", /*подсчёт непустых строк в столбце type2; назначить алиас "покемонов с дополнительным типом"*/
    AVG(attack) AS "средняя атака", /*среднее значение столбца attack; назначить алиас "средняя атака"*/
    AVG(defense) AS "средняя защита" /*среднее значение столбца defense; назначить алиас "средняя защита"*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
WHERE type1 = 'Grass'/*при условии, что значение столбца type1 содержит grass*/

Итак, мы разобрали и попробовали применить базовые агрегатные функции.

Дополнительно

С полным перечнем существующих агрегатных функций вы можете ознакомиться в [официальной документации](https://postgrespro.ru/docs/postgrespro/11/functions-aggregate).

### Задание 3.5 (External resource)

Напишите запрос, который выведет:

количество покемонов (столбец pokemon_count),

среднюю скорость (столбец avg_speed),

максимальное и минимальное число очков здоровья (столбцы max_hp и min_hp)

для электрических (Electric) покемонов, имеющих дополнительный тип и показатели атаки или защиты больше 50.


SELECT
    COUNT(*) AS "pokemon_count", 
    AVG(speed) AS "сavg_speed",
    MAX(hp) AS "max_hp",
    MIN(hp) AS "min_hp"
FROM sql.pokemon /*из таблицы sql.pokemon*/
WHERE type1 = 'Electric' AND type2 IS NOT NULL AND (attack > 50 OR defense > 50)

## 4. Группировка

✍ Как мы помним, агрегатные функции вычисляют какой-то параметр для набора строк.

Прежде мы применяли агрегатные функции для всего вывода, а сейчас используем для различных групп строк. Поможет нам в этом ключевое слово GROUP BY.

GROUP BY используется для определения групп выходных строк, к которым могут применяться агрегатные функции.

Выведем число покемонов каждого типа.

SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY type1
ORDER BY type1

Вывод, конечно же, можно сортировать по столбцу с агрегированием.

Представим ТОП существующих типов покемонов.

SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY pokemon_type
ORDER BY COUNT(*) DESC

Обратите внимание! Мы использовали в группировке не название столбца, а его алиас.

### Задание 4.1 (External resource)
Напишите запрос, который выведет:

число различных дополнительных типов (столбец additional_types_count),
среднее число очков здоровья (столбец avg_hp),
сумму показателей атаки (столбец attack_sum) в разбивке по основным типам (столбец primary_type).
Отсортируйте результат по числу дополнительных типов в порядке убывания, при равенстве — по основному типу в алфавитном порядке. Столбцы к выводу (обратите внимание на порядок!): primary_type, additional_types_count, avg_hp, attack_sum.

SELECT 
    type1 AS primary_type,
    COUNT(DISTINCT type2) AS additional_types_count,
    AVG(hp) AS avg_hp,
    SUM(attack) AS attack_sum
FROM 
    sql.pokemon
GROUP BY 
    type1
ORDER BY 
    additional_types_count DESC, 
    primary_type ASC;

Мы можем осуществлять группировку по нескольким столбцам.

SELECT
    type1 AS primary_type,
    type2 AS additional_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY 1, 2
ORDER BY 1, 2 NULLS FIRST

SELECT /*выбор*/
    type1 AS primary_type, /*столбец type1; присвоить алиас primary_type*/
    type2 AS additional_type, /*столбец type2; присвоить алиас additional_type*/
    COUNT(*) AS pokemon_count /*подсчёт всех строк присвоить алиас pokemon_count*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY 1, 2 /*группировка по столбцам 1 и 2*/
ORDER BY 1, 2 NULLS FIRST /*сортировка по столбцам 1 и 2; сначала нули*/

Обратите внимание! В группировке можно указывать порядковый номер столбца так же, как мы делали это в прошлом модуле для сортировки.

GROUP BY можно использовать и без агрегатных функций. Тогда его действие будет равносильно действию DISTINCT.
Сравните выводы двух запросов:

SELECT DISTINCT 
    type1
FROM sql.pokemon

SELECT
    type1
FROM sql.pokemon
GROUP BY type1

## 5. Фильтрация агрегированных строк

✍ Если ключевое слово WHERE определяет фильтрацию строк до агрегирования, то для фильтрации уже агрегированных данных применяется ключевое слово HAVING.

Важно! HAVING обязательно пишется после GROUP BY.
Выведем типы покемонов и их средний показатель атаки, при этом оставим только тех, у кого средняя атака больше 90.

SELECT /*выбор*/
    type1 AS primary_type, /*таблица type1; присвоить алиас primary_type*/
    AVG(attack) AS avg_attack /*расчёт среднего по столбцу attack; присвоить алиас avg_attack*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY primary_type /*группировать по столбцу primary_type*/
HAVING AVG(attack) > 90 /*фильтровать по среднему значению attack, превышающему 90*/

Попробуйте удалить из запроса вывод второго столбца (со средним показателем атаки).

Запрос работает и выводит только названия типов, у которых средний показатель атаки выше 90.

В HAVING вы можете использовать все те же условия, что и в WHERE.

Дополнительно

Об отличиях HAVING от WHERE можно прочитать в [официальной документации](https://postgrespro.ru/docs/postgresql/11/tutorial-agg).

Важно понимать, как соотносятся агрегатные функции и SQL-предложения WHERE и HAVING. Основное отличие WHERE от HAVING заключается в том, что WHERE сначала выбирает строки, а затем группирует их и вычисляет агрегатные функции (таким образом, она отбирает строки для вычисления агрегатов), тогда как HAVING отбирает строки групп после группировки и вычисления агрегатных функций. Как следствие, предложение WHERE не должно содержать агрегатных функций; не имеет смысла использовать агрегатные функции для определения строк для вычисления агрегатных функций. Предложение HAVING, напротив, всегда содержит агрегатные функции. (Строго говоря, вы можете написать предложение HAVING, не используя агрегаты, но это редко бывает полезно. То же самое условие может работать более эффективно на стадии WHERE.)

В предыдущем примере мы смогли применить фильтр по названию города в предложении WHERE, так как названия не нужно агрегировать. Такой фильтр эффективнее, чем дополнительное ограничение HAVING, потому что с ним не приходится группировать и вычислять агрегаты для всех строк, не удовлетворяющих условию WHERE.

Ещё один способ выбрать строки, которые входят в составные вычисления, — это использовать предложение FILTER, которое указывается для каждой агрегатной функции:

SELECT city, count(*) FILTER (WHERE temp_lo < 45), max(temp_lo)
    FROM weather
    GROUP BY city;
     city      | count | max
---------------+-------+-----
 Hayward       |     1 |  37
 San Francisco |     1 |  46
(2 rows)
Предложение FILTER очень похоже на WHERE, за исключением того, что отбрасываются входные строки только конкретной агрегатной функции, с которой оно используется. Здесь агрегатная функция count подсчитывает только строки с temp_lo ниже 45; но агрегатная функция max по-прежнему применяется ко всем строкам, поэтому находит значение 46.

### Вместо резюме

В общем виде синтаксис оператора SELECT, с учётом имеющихся на данный момент знаний, представляем следующим образом:

SELECT [ALL | DISTINCT] список_столбцов|*
FROM список_имён_таблиц
[WHERE условие_поиска]
[GROUP BY список_имён_столбцов]
[HAVING условие_поиска]
[ORDER BY имя_столбца [ASC | DESC],…]

Обратите внимание! В квадратных скобках указаны необязательные предложения: они могут отсутствовать в операторе SELECT.

### Задание 5.1 (External resource)

Напишите запрос, который выведет основной и дополнительный типы покемонов (столбцы primary_type и additional_type) для тех, у кого средний показатель атаки больше 100 и максимальный показатель очков здоровья меньше 80.

SELECT 
    type1 AS primary_type,
    type2 AS additional_types
FROM 
    sql.pokemon
GROUP BY 
    type1, type2
HAVING AVG(attack) > 100 AND MAX(hp) <80 
ORDER BY 
    primary_type ASC;

### Задание 5.2 (External resource)
Напишите запрос, чтобы для покемонов, чьё имя (name) начинается с S, вывести столбцы с их основным типом (primary_type) и общим числом покемонов этого типа (pokemon_count). Оставьте только те типы, у которых средний показатель защиты больше 80. Выведите топ-3 типов по числу покемонов в них.

SELECT
    type1 AS primary_type,
    count(*) AS pokemon_count
FROM 
    sql.pokemon
WHERE name LIKE 'S%'
GROUP BY 
    type1
HAVING AVG(defense) > 80 
ORDER BY 
    pokemon_count DESC
LIMIT 3

Этот запрос выбирает покемонов, чьи имена начинаются с буквы "S", группирует их по основному типу (type1), подсчитывает количество покемонов в каждой группе и оставляет только те группы, у которых средний показатель защиты больше 80. Затем результат сортируется по числу покемонов в порядке убывания, и выводятся только топ-3 типа.

## 6. Итоги

✍ Итак, каковы наши успехи в этом модуле?

Вы познакомились с агрегатными функциями и научились:

считать количество строк, сумму, минимум, максимум, среднее по значениям таблицы;
выводить агрегированные значения в разных разрезах;
фильтровать по агрегированным значениям.
И в довершение итогов напомним структуру запроса, который мы можем составить с учётом новых знаний:

SELECT
    столбец1 AS новое_название,
    столбец2,
    АГРЕГАТ(столбец3)
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
GROUP BY столбец1, столбец2
HAVING АГРЕГАТ(столбец3) > 5
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2

✍ А теперь давайте проверим полученные знания на практике ↓

### Задание 6.1
1 point possible (graded)
Сколько различных значений показателей атаки есть у покемонов с типом Water (основным или дополнительным)?

SELECT DISTINCT
    count(atack) AS atack_count
FROM 
    sql.pokemon
WHERE type1 = 'Water' or type2 = 'Water'
GROUP BY 
    type1, type2


Ответ: 53

SELECT 
    COUNT(DISTINCT attack) AS distinct_attack_values
FROM 
    sql.pokemon
WHERE 
    type1 = 'Water' OR type2 = 'Water';

### Задание 6.2 (External resource)

Напишите запрос, который выведет основной и дополнительный типы покемонов и средние значения по каждому показателю (столбцы avg_hp, avg_attack, avg_defense, avg_speed).Оставьте только те пары типов, у которых сумма этих четырёх показателей более 400.


SELECT 
    type1 AS primary_type,
    type2 AS additional_type,
    AVG(hp) AS avg_hp,
    AVG(attack) AS avg_attack,
    AVG(defense) AS avg_defense,
    AVG(speed) AS avg_speed
FROM 
    sql.pokemon
GROUP BY 
    type1, type2
HAVING 
    (AVG(hp) + AVG(attack) + AVG(defense) + AVG(speed)) > 400;

### Задание 6.3 (External resource)

Напишите запрос, который выведет столбцы с основным типом покемона и общим количеством покемонов этого типа. Учитывайте только тех покемонов, у кого или показатель атаки, или показатель защиты принимает значение между 50 и 100 включительно. Оставьте только те типы покемонов, у которых максимальный показатель здоровья не больше 125. Выведите только тот тип, который находится на пятом месте по количеству покемонов.


SELECT 
    type1 AS primary_type,
    COUNT(*) AS pokemon_count
FROM 
    sql.pokemon
WHERE 
    (attack BETWEEN 50 AND 100 OR defense BETWEEN 50 AND 100)
GROUP BY 
    type1
HAVING 
    MAX(hp) <= 125
ORDER BY 
    pokemon_count DESC
LIMIT 1 OFFSET 4;