# Импорт библиотек

In [1]:
import pandas as pd 

import os
import logging

# Загрузка данных

In [2]:
df = pd.read_csv('./data/KaggleV2-May-2016.csv.zip')

In [3]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

# Логирование информации о данных

In [7]:
# Функция для создания лог-файла и записи в него информации
def get_logger(path, file):
   """[Создает лог-файл для логирования в него]
   Аргументы:
       path {string} -- путь к директории
       file {string} -- имя файла
  
   Возвращает:
       [obj] -- [логер]
   """
 
   # проверяем, существует ли файл
   log_file = os.path.join(path, file)
 
   if not os.path.isfile(log_file):
       open(log_file, "w+").close()
 
   # поменяем формат логирования
   file_logging_format = "%(levelname)s: %(asctime)s: %(message)s"
 
   # конфигурируем лог-файл
   logging.basicConfig(level=logging.INFO, 
   format = file_logging_format)
   logger = logging.getLogger()
  
   # создадим хэнлдер для записи лога в файл
   handler = logging.FileHandler(log_file)
 
   # установим уровень логирования
   handler.setLevel(logging.INFO)
  
   # создадим формат логирования, используя file_logging_format
   formatter = logging.Formatter(file_logging_format)
   handler.setFormatter(formatter)
 
   # добавим хэндлер лог-файлу
   logger.addHandler(handler)
 
   return logger

In [8]:
# создаем папку для логирования
#!mkdir logs


import os

# Проверяем, существует ли директория
if not os.path.exists('logs'):
    os.makedirs('logs')
    print("Директория 'logs' создана")
else:
    print("Директория 'logs' уже существует")

Директория 'logs' уже существует

In [9]:
# создаем лог-файл
logger = get_logger(path="logs/", file="data.logs")

In [10]:
logger.info("Data")

INFO: 2025-02-01 13:58:29,505: Data

In [11]:
logger.info("Data shape {}".format(df.shape))

INFO: 2025-02-01 13:58:34,654: Data shape (110527, 14)

In [12]:
logger.info("Percentage of women: {}".format(df[df['No-show']=='Yes']['Gender'].value_counts(True)[0]))

C:\Users\stepu\AppData\Local\Temp\ipykernel_21252\2954241637.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  logger.info("Percentage of women: {}".format(df[df['No-show']=='Yes']['Gender'].value_counts(True)[0]))
INFO: 2025-02-01 13:58:41,402: Percentage of women: 0.653882342398853

In [13]:
logger.info("Percentage of men: {}".format(df[df['No-show']=='Yes']['Gender'].value_counts(True)[1]))

C:\Users\stepu\AppData\Local\Temp\ipykernel_21252\3533196027.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  logger.info("Percentage of men: {}".format(df[df['No-show']=='Yes']['Gender'].value_counts(True)[1]))
INFO: 2025-02-01 13:58:44,240: Percentage of men: 0.346117657601147

In [14]:
# Улучшения 2 предыдущих шагов от Cursor AI по причине FutureWarning
# Получаем значения
gender_counts = df[df['No-show']=='Yes']['Gender'].value_counts(normalize=True)

# Логируем процент женщин
logger.info("Percentage of women: {}".format(gender_counts.iloc[0]))

# Логируем процент мужчин
logger.info("Percentage of men: {}".format(gender_counts.iloc[1]))

INFO: 2025-02-01 13:58:51,102: Percentage of women: 0.653882342398853
INFO: 2025-02-01 13:58:51,103: Percentage of men: 0.346117657601147

In [15]:
if df.shape != (110526,14):
  logger.error('Data shape is incorrect!')

ERROR: 2025-02-01 13:58:54,062: Data shape is incorrect!