In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [8]:
df = pd.read_csv('new-site.csv', sep="\t")

In [9]:

df.head()

   site  dwell-time
0     0           2
1     1          48
2     0          15
3     1          16
4     0          38

In [10]:
df.describe()

             site  dwell-time
count  300.000000  300.000000
mean     0.380000   89.766667
std      0.486197  101.475794
min      0.000000    1.000000
25%      0.000000   24.000000
50%      0.000000   58.500000
75%      1.000000  122.250000
max      1.000000  725.000000

In [11]:
# Группируем данные по колонке 'site' и суммируем значения в колонке 'dwell-time'
total_dwell_time = df.groupby('site')['dwell-time'].sum()

# Выводим результат
print(total_dwell_time)

site
0    16898
1    10032
Name: dwell-time, dtype: int64

In [12]:
# Группируем данные по колонке 'site' и вычисляем среднее значение в колонке 'dwell-time'
mean_dwell_time = df.groupby('site')['dwell-time'].mean().round()

# Выводим результат
print(mean_dwell_time)

site
0    91.0
1    88.0
Name: dwell-time, dtype: float64

In [13]:
from scipy.stats import shapiro

# Проверка на нормальность для группы А (site = 0)
group_A = df[df['site'] == 0]['dwell-time']
stat_A, p_value_A = shapiro(group_A)
print(f"Группа А: статистика = {stat_A}, p-значение = {p_value_A}")

# Проверка на нормальность для группы В (site = 1)
group_B = df[df['site'] == 1]['dwell-time']
stat_B, p_value_B = shapiro(group_B)
print(f"Группа В: статистика = {stat_B}, p-значение = {p_value_B}")

# Интерпретация результатов
alpha = 0.05
if p_value_A > alpha:
    print("Группа А: Распределение нормальное (не отвергаем H₀)")
else:
    print("Группа А: Распределение не нормальное (отвергаем H₀)")

if p_value_B > alpha:
    print("Группа В: Распределение нормальное (не отвергаем H₀)")
else:
    print("Группа В: Распределение не нормальное (отвергаем H₀)")

Группа А: статистика = 0.731232632199737, p-значение = 4.499873552750829e-17
Группа В: статистика = 0.7305351552861856, p-значение = 3.5727031185288115e-13
Группа А: Распределение не нормальное (отвергаем H₀)
Группа В: Распределение не нормальное (отвергаем H₀)

In [14]:
from scipy.stats import mannwhitneyu

# Разделяем данные на группы
group_A = df[df['site'] == 0]['dwell-time']
group_B = df[df['site'] == 1]['dwell-time']

# Выполняем тест Манна — Уитни
stat, p_value = mannwhitneyu(group_A, group_B, alternative='two-sided')

# Выводим результаты
print(f"Статистика теста: {stat}")
print(f"p-значение: {p_value}")

# Интерпретация результатов
alpha = 0.05
if p_value > alpha:
    print("Нет оснований отвергать H₀: Время пребывания в группах А и В совпадает.")
else:
    print("Отвергаем H₀: Время пребывания в группах А и В различается.")

Статистика теста: 10506.0
p-значение: 0.895811197131841
Нет оснований отвергать H₀: Время пребывания в группах А и В совпадает.